@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9fb;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold text-slate-900;
  }

  p {
    @apply text-slate-600;
  }
}
